# student code should not be included in repository
students

# the results should not be included in repository
reports

# summaries should not be included in repository
*.txt
*.csv
*.xlsx

__pycache__
